
<!-- Sidebar content goes here -->
<h1>Cloud Computing</h1>
<p>Course - Introduction to Cloud Computing</p>
<!-- 
Collection 1 
    loop through collection 1 as dropdown menu if more than 1 file 
Collection 2 
Collection 3 
    loop through collection 3 as dropdown menu if more than 1 file 
.. etc  
-->
<div class="drop-container">
    <ul>
        {% for collection in site.collections %}
        {% if collection.label != "posts" %}
        <li class="dropdown">
            {% assign sorted_pages = site[collection.label] | sort:"order" %}
            {% if sorted_pages.size > 1 %}
                <a href="{{ sorted_pages.first.url }}">{{ sorted_pages.first.title }}</a>
                <i class="icon-arrow" data-toggle="dropdown"></i>
                <ul class="dropdown-menu">
                {% for page in sorted_pages offset:1 %}
                    <hr>
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <a href="{{ sorted_pages.first.url }}">{{ sorted_pages.first.title }}</a>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>





