<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- reset css for cross site consistency-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!-- Mine -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/dropdown.css">
  </head>
  <body>
    <div class="wrapper">
      <nav class = "sidebar">
        <div class="nav_content">
          {% include navigation.html %}
        </div>
      </nav>

      <div class="main_content">
        <div class="post">
          {{ content }}
        </div>
      </div>
    </div>
  <script  src="{{ site.baseurl }}/assets/js/dropdown.js"></script>
  </body>
</html>
